<h1>
<hr style=" border:none; height:3px;">
<center>Bank Study Case</center>
<hr style=" border:none; height:3px;">
</h1>

<center><img src='https://www.dot-anonymizer.fr/wp-content/uploads/2021/07/Banner-article-DOT-Anonymiser-ses-donnees-1.png' width=200></center>

In [46]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# I - Data anonymisation

In [47]:
df = pd.read_excel('mobile_customers.xlsx')
df.head(1)

,Unnamed: 0,customer_id,date_registered,username,name,gender,address,email,birthdate,current_location,residence,employer,job,age,salary,credit_card_provider,credit_card_number,credit_card_security_code,credit_card_expire
0,0,24c9d2d0-d0d3-4a90-9a3a-e00e4aac99bd,2021-09-29,robertsbryan,Jonathan Snyder,M,"24675 Susan Valley\nNorth Dianabury, MO 02475",marcus58@hotmail.com,1978-03-11,"['78.937112', '71.260464']","195 Brandi Junctions\nNew Julieberg, NE 63410","Byrd, Welch and Holt",Chief Technology Officer,49,53979,VISA 19 digit,38985874269846,994,2023-10-27 00:00:00

In [48]:
print(df.columns)

Index(['Unnamed: 0', 'customer_id', 'date_registered', 'username', 'name',
       'gender', 'address', 'email', 'birthdate', 'current_location',
       'residence', 'employer', 'job', 'age', 'salary', 'credit_card_provider',
       'credit_card_number', 'credit_card_security_code',
       'credit_card_expire'],
      dtype='object')

In [49]:
# Dropping unnamed column
df = df.drop(columns=['Unnamed: 0'])

In [50]:
# Replacing dates by YYYY-QX (Q standing for quarters)
df['birthdate'] = df['birthdate'].astype(str)
df['birthdate'] = df['birthdate'].apply(lambda x: x.split('-')[0] + '-Q' + str(int(x.split('-')[1])//3 + 1))

df['date_registered'] = df['date_registered'].astype(str)
df['date_registered'] = df['date_registered'].apply(lambda x: x.split('-')[0] + '-Q' + str(int(x.split('-')[1])//3 + 1))

df = df.drop(columns=['name', 'email', 'credit_card_number', 'credit_card_security_code', 'credit_card_expire', 'address', 'current_location', 'residence', 'username'])
bins   = [0,10,20,30,40,50,60,70,80,90,100]
labels = [f"{b}-{b+9}" for b in bins[:-1]]
df["age"] = pd.cut(df["age"],
                         bins=bins,
                         labels=labels,
                         right=True,           
                         include_lowest=True)


# Adding noise to column salary to prevent identification
noise = np.random.normal(loc=0, scale=10, size=len(df))
df["salary"] = df["salary"] + noise

In [51]:
df.head(2)

,customer_id,date_registered,gender,birthdate,employer,job,age,salary,credit_card_provider
0,24c9d2d0-d0d3-4a90-9a3a-e00e4aac99bd,2021-Q4,M,1978-Q2,"Byrd, Welch and Holt",Chief Technology Officer,40-49,53979.619959,VISA 19 digit
1,7b2bc220-0296-4914-ba46-d6cc6a55a62a,2019-Q3,F,1970-Q4,Hurst PLC,Data scientist,40-49,81511.015023,Discover

In [53]:
df.to_excel('anonymised_dataset.xlsx')

# Twitter

**Note**

<div class='alert alert-bloc alert-info'>Now, the strategy will be to visualize the sentiments (or at least the polarity) of tweets associated with the “@CommBank Twitter Account”. Here is the forwarded email detailing my approach:
<div class='alert alert-bloc alert-solution'>
Hi,

I hope this email finds you well.

After familiarizing myself with the “@CommBank Twitter Account”, I have thought of leveraging the X API to leverage the data available at hands:

Extracting large amounts of tweets would allow us to identify peak times of engagement using the ‘created_at’ feature
We could do further analysis to see what are the themes and contents that generate the highest engagement (eventually using an LLM to automate this part) - and visualize it on a mind map for instance
Lastly, we could set up a sentiment analysis pipeline with textblob for instance to identify drops in customer engagement and polarity to identify accidents, bad customer experience and such, allowing for faster response.

Kind regards,

Louis</div>
</div>